.separateElements {
    display: flex;
    justify-content: space-between;
}

.goButton {
    background: #F5A623;
    padding: 9px;
    width: 70px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    color: black;
    text-decoration: none;
}